* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-image: linear-gradient(-360deg,rgba(192,192,192,0.8),rgba(0,0,0,1));
	color: white;
	font-family: 'Lekton', sans-serif;
}

body::-webkit-scrollbar {
	display: none;
}

.cabecera {
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	background-color: #140D4F;
	background-image: url(cabecera.png);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	color: white;
}

.cabecera div {
	padding: 10px;
}

.logoindex {
	flex: 15%;
}

.nombreindex {
	flex: 75%;
}

.logo {
	flex: 33%;
}

.nombre {
	flex: 33%;
}

.opciones {
	flex: 33%;
}

.opciones button {
	margin-top: 110px;
}

.opciones img {
	transition-timing-function: ease-in-out;
	transition: transform .8s;
}

.opciones button:hover img {
	transform: rotateY(360deg);
}

h1 {
	padding-top: 100px;
	font-family: 'Special Elite', cursive;
}

h2 {
	font-family: 'Special Elite', cursive;
}

h3 {
	font-family: 'Special Elite', cursive;
}

.bienvenida {
	text-align: center;
}

.botonAR {
	text-align: center;
}

input[type=button] {
	cursor: pointer;
	width: 100%;
	font-size: 24px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, black, silver, black);
	font-family: 'Special Elite', cursive;
}

.contenido {
	display: none;
	flex-wrap: wrap;
}

table td {
	text-align: center;
}

.acceso {
	flex: 50%;
	border-radius: 0% 0% 20% 50%;
	z-index: 1;
	background-image: linear-gradient(to right, #d00000, #140d4f);
}

.acceso div {
	width: 100%;
	margin: 0px auto;
	padding: 10px;
	padding-left: 30%;
}

.registro {
	flex: 50%;
	border-radius: 0% 0% 50% 20%;
	background-image: linear-gradient(to left, #d00000, #140d4f);
}

.registro div {
	width: 100%;
	margin: 0px auto;
	padding: 10px;
	padding-left: 10%;
}

.datosform {
	text-align: right;
}

.fotos {
	width: 80%;
	margin: 0px auto;
	display: none;
}

.difuminado {
	animation:fading 10s infinite}
	@keyframes fading {
	0%{
		opacity:0
	}
	50% {
		opacity:1
	}100% {
		opacity:0
	}
}

.piepagina {
	text-align: center;
	background-color: #D00000;
	background-image: url(footer.png);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	flex-flow: row wrap;
	padding-top: 100px;
	color: white;
}

.piepagina div {
	flex: 100%;
}

.piepagina div table {
	width: 15%;
	margin: 0px auto;
}

.piepagina div table tr td, .piepagina div table tr th{
	padding: 25px;
}

.piepagina img {
	opacity: 0.5;
	cursor: pointer;
	transition-timing-function: ease-in-out;
	transition: transform .8s;
}

.piepagina img:hover {
	opacity: 1;
	transform: scale(1.3) rotate(-360deg);
}

.modal {
	z-index:3;
	display:none;
	padding-top:150px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.4);
	color: white;
	line-height: 1.5rem;
}

.modal-cont {
	margin:auto;
	background-image: linear-gradient(-360deg,rgba(0,102,0,1),rgba(0,0,0,1));
	position:relative;
	padding:20px 0px 20px 20px;
	border-radius: 25px 0px 25px 25px;
	outline:0;
	width:600px;
}

.cajaModal {
	box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.botonModal {
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
}

.botonModal:hover {
	color:#000!important;background-color:silver!important;
}

.grande {
	font-size:18px!important;
}

.arribaDerecha {
	position:absolute;
	right:0;
	top:0;
}

.contenedor {
	padding:0.01em 16px;

}

.opacidad {
	animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}
}

.main {
	display: flex;
	padding: 25px 0px;
	flex-flow: row wrap;
}

.menu {
	flex: 100%;
	text-align: center;
	padding: 25px;
}

.menuGestion {
	flex: 100%;
	text-align: center;
	padding: 25px;
}

.busqueda {
	flex: 100%;
	text-align: center;
}

.busqueda img {
	transition: width .5s ease-in-out;
}

.busqueda img:hover {
	width: 64px;
}

.compras {
	flex: 100%;
}

.compras table {
	width: 50%;
	margin: 0px auto;
	background-image: linear-gradient(-360deg,rgba(0,102,0,1),rgba(0,0,0,1));
}

.compras table td, .compras table th {
	padding: 10px;
}

.compras table tr:hover td {
	background-color: silver;
	color: black;
}

.libros {
	flex: 100%;
}

.libros form {
	display: flex;
	width: 80%;
	height: 500px;
	overflow: auto;
	margin: 0px auto;
	flex-flow: row wrap;
	justify-content: space-around;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5% 0% 0% 5%;
}

.libros form::-webkit-scrollbar {
	width: 0.5em;
}

.libros form::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
    height: 50px;
}

.libros form::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-360deg,rgba(0,102,0,1),rgba(0,0,0,1));
  outline: 1px solid red;
  border-radius: 5px;
}

.libros form button {
	outline: none;
	border: 3px outset rgba(0,0,0,0.8);
	color: black;
	background-color: rgba(0,102,0,1);
	transition: letter-spacing .2s ease-in-out, padding .2s ease-in-out;
}

input[type=submit] {
	outline: none;
	border: 3px outset rgba(0,0,0,0.8);
	color: black;
	background-color: rgba(0,102,0,1);
	transition: letter-spacing .2s ease-in-out, padding .2s ease-in-out;
}

.libros form button:hover {
	outline: none;
	letter-spacing: 2px;
	padding: 1px;
	border: 3px inset rgba(0,102,0,1);
	color: white;
	background-color: rgba(0,0,0,0.5);
}

input[type=submit]:hover {
	outline: none;
	letter-spacing: 2px;
	padding: 1px;
	border: 3px inset rgba(0,102,0,1);
	color: white;
	background-color: rgba(0,0,0,0.5);
}

.carro {
	flex: 0%;
}

.carro form {
	height: 500px;
	overflow: auto;
}

.carro form::-webkit-scrollbar {
	width: 0.5em;
}

.carro form::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
    height: 50px;
}

.carro form::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-360deg,rgba(0,102,0,1),rgba(0,0,0,1));
  outline: 1px solid red;
  border-radius: 5px;
}

.carro h2 {
	text-align: center;
}

.carro p {
	text-align: center;
	width: 75%;
	margin: 0px auto;
}

.delete {
	transition: width .5s ease-in-out;
}

.delete:hover {
	width: 64px;
}

.buy {
	transition: width .5s ease-in-out, transform .5s ease-in-out;
}

.buy:hover {
	width: 75px;
	transform: rotate(-360deg);
}

.contenedor img {
	transition: transform .5s ease-in-out;
}

.contenedor img:hover {
	transform: scale(1.2);
}

li {
	list-style: none;
	padding: 10px 0px 10px 40px;
	background-image: url(lista.png);
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: left center;
}

.libro {
	margin-top: 20px;
	margin-bottom: 20px;
}

.libro table {
	height: 100%;
}

.libro table tr td {
	width: 150px;
}

textarea {
	box-sizing: border-box;
	width: 350px;
	height: 200px;
	resize: none;
	overflow: auto;
}

.bdlibros {
	flex: 100%;
}

.bdlibros table {
	width: 50%;
	margin: 0px auto;
	background-image: linear-gradient(-360deg,rgba(0,102,0,1),rgba(0,0,0,1));
}

.bdlibros table td, .bdlibros table th {
	padding: 10px;
}

.bdlibros table tr:hover td {
	background-color: silver;
	color: black;
}

.librosDispo {
		display: flex;
		width: 80%;
		margin: 0px auto;
		overflow: hidden;
	}

	.portada {
		margin: 10px 25px;
		position: relative;
		text-align: center;
	}

	.titulo {
		display: none;
		position: absolute;
		width: 100%;
		height: 250px;
		top: 0;
		z-index: 1;
		font-size: 24px;
		color: white;
		font-weight: bold;
		background-color: rgba(0,0,0,0.5);
	}

	.titulo p {
		padding-top: 0px;
	}

	.portada:hover .titulo {
		display: block;
	}

@media screen and (max-width: 700px) {
  .contenido {   
    flex-direction: column;
  }
  .main {
  	flex-direction: column;
  }
	.acceso, .registro {
		border-radius: 0%;
	}
	.acceso div {
		padding-left: 25%;
	}

	.registro div {
		padding-left: 25%;
	}

	.registro {
		border-radius: 0% 0% 50% 50%;
	}
}

@media screen and (max-width: 610px) {
	.modal-cont {
		width: 300px;
	}

	textarea {
		width: 250px;
		height: 200px;
	}
}

@media screen and (max-width: 850px) {
	.registro {
		border-radius: 0% 0% 20% 20%;
	}

}

@media screen and (max-width: 1079px) {
	.nombreindex h1 {
		padding-top: 0px;
	}

}

@media screen and (max-width: 442px) {
	.nombre h1 {
		padding-top: 0px;
	}

}

@media screen and (max-width: 794px) {
	.opciones button {
		margin-top: 0px;
	}

}

@media screen and (max-width: 442px) {
	.opciones button {
		margin-top: 25px;
	}

}