* {
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url(fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.log {
	position: absolute;
	top: 25%;
	left: 45%;
	text-align: center;
	font-size: 25px;
	background-image: linear-gradient(to bottom right,#f18f01,#c73e1d);
	border: 5px solid #02111b;
	padding: 25px;
	border-radius: 20px;
}

input[type=text] {
	padding: 5px 10px;
	border: none;
	border-bottom: 3px solid #f18f01;
	background-color: #a23b72;
	color: white;
	text-align: center;
}

input[type=submit] {
	color: white;
	font-size: 18px;
	margin-top: 20px;
	padding: 10px;
	background-color: #2e86ab;
	border-radius: 20px;
}

input[type=submit]:hover {
	background-color: #a23b72;
}