* {
	margin: 0px;
	padding: 0px;
}

/*Paleta de colores
2e86ab
a23b72
f18f01
c73e1d
02111b*/

header {
	width: 100%;
	background-image: linear-gradient(to bottom right,#2e86ab,#a23b72);
	border-radius: 0px 0px 25px 25px;
}

header img {
	position: relative;
	left: 47%;
}

.bienvenida {
	margin: 0px auto;
	width: 40%;
	text-align: center;
}

.bienvenida h1 {
	padding-top: 15px;
	font-family: 'Lobster', cursive;
}

.bienvenida blockquote {
	font-family: 'Dancing Script', cursive;
	font-size: 24px;
	letter-spacing: 2px;
}

aside {
	font-family: 'Permanent Marker', cursive;
	float: right;
	padding: 15px;
	width: 17%;
	position: absolute;
	top: 373px;
	left: 75%;
	border: 20px solid;
	border-image: url(border.jpg) 60 round;
	background-image: linear-gradient(to bottom right,#2e86ab,#a23b72);
}

.productos {
	width: 75%;
	padding-left: 50px;
}

.producto {
	font-family: 'Permanent Marker', cursive;
	float: left;
	box-sizing: border-box;
	width: 400px;
	height: 450px;
	margin: 5px;
	padding: 50px;
	border: 20px solid;
	border-image: url(border.jpg) 60 round;
	background-image: linear-gradient(to bottom right,#2e86ab,#a23b72);
}

.img_hover {
	transition: transform .2s;
	padding-left: 50px;
	margin-bottom: 30px;
}

.img_hover:hover {
	transform: scale(1.5);
}

body {
	background-image: linear-gradient(to right,#f18f01,#c73e1d);
}

button {
	cursor: pointer;
	color: white;
	font-size: 12px;
	padding: 5px;
	margin-left: 70px;
	background-color: #2e86ab;
	border-radius: 20px;
}

button:hover {
	background-color: #a23b72;
}

.tarifa {
	font-family: 'Permanent Marker', cursive;
	font-size: 15px;
	box-sizing: border-box;
	width: 800px;
	margin: 20px auto;
	padding: 20px 50px;
	border: 20px solid;
	border-image: url(border.jpg) 60 round;
	background-image: linear-gradient(to bottom right,#2e86ab,#a23b72);
}

.total {
	font-family: 'Permanent Marker', cursive;
	margin-top: 75px;
	font-size: 32px;
}

.thumb {
	position: relative;
	left: 500px;
}

hr {
	border: 1px solid;
	border-image: linear-gradient(to right,#f18f01,#c73e1d) 1 round;
}