* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: lightgray;
	background: url(Fondo.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Varela Round', sans-serif;
}

header {
	background-color: #05668D;
	height: 150px;
	border-radius: 0px 0px 100px 25px;
}

header img {
	margin-left: 100px;
}

header h1 {
	position: relative;
	text-align: center;
	left: 38%;
	bottom: 100px;
	width: 25%;
	font-family: 'Girassol', cursive;
}

.login {
	font-size: 28px;
	text-align: center;
	margin: 0px auto;
	width: 100%;
}

.login form {
	margin: 150px auto;
	width: 25%;
	background-color: #05668D;
	border-radius: 100px;
	padding: 20px 0px;
}

legend {
	padding-top: 5px;
}

.login fieldset {
	border: none;
}

.entrar {
	cursor: pointer;
	font-size: 20px;
	width: 38%;
	background-color: lightgray;
	border-radius: 25px;
	transition: transform .5s;
}

.entrar:hover {
	transform: scale(1.5);
	border-radius: 25px;
	color: white;
	background-color: #05668D;
}

.login input[type=text], .login input[type=password] {
	font-size: 20px;
	text-align: center;
	margin: 10px 0px;
	padding: 10px;
	background-color: lightgray;
	border: none;
	border-radius: 25px;
}

.login input[type=text]:hover, .login input[type=password]:hover {
	background-image: linear-gradient(to right, #05668D, lightgray);
}

.login input[type=text]:focus, .login input[type=password]:focus {
	border: 2px solid white;
	border-radius: 0px;
	padding: 8px;
	background-image: linear-gradient(to right, #05668D, lightgray);
}

h2 {
	text-align: center;
	margin-top: 50px;
	background-image: linear-gradient(#05668D, lightgray);
	width: 35%;
	height: auto;
	margin: 50px auto;
	border-radius: 100px;
}

.menu {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 70%;
	margin: 0px auto;
}

.menu div {
	text-align: center;
}

.modal {
	z-index:3;
	display:none;
	padding-top:400px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.4);
}

.modal-cont {
	margin:auto;
	background-image: linear-gradient(to right, #05668D, lightgray);
	position:relative;
	padding:20px 0px 20px 20px;
	border-radius: 25px 0px 25px 25px;
	outline:0;
	width:600px;
}

.cajaModal {
	box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.botonModal {
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
}

.botonModal:hover {
	color:#000!important;background-color:#05668D!important;
}

.grande {
	font-size:18px!important;
}

.arribaDerecha {
	position:absolute;
	right:0;
	top:0;
}

.contenedor {
	padding:0.01em 16px;

}

.opacidad {
	animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}
}

.menu div button {
	cursor: pointer;
	font-size: 20px;
	padding: 15px;
	background-color: lightgray;
	border-radius: 25px;
	transition: transform .5s;
}

.menu div button:hover {
	transform: scale(1.2);
	border-radius: 25px;
	color: white;
	background-color: #05668D;
}

.backClose {
	position: relative;
	margin: 0px auto;
	width: 25%;
}

.backClose form button {
	cursor: pointer;
	font-size: 12px;
	padding: 15px;
	background-color: lightgray;
	border-radius: 25px;
	transition: transform .5s;
}

.backClose form button:hover {
	transform: scale(1.1);
	border-radius: 25px;
	color: white;
	background-color: #05668D;
}

.altas-citas {
	text-align: center;
	width: 40%;
	margin: 20px auto;
	background-color: #05668D;
	border-radius: 100px;
	padding: 20px 0px;
}

.altas-citas fieldset {
	border: none;
}

.altas-citas fieldset legend {
	font-weight: bold;
	font-size: 20px;
}

.altas-citas p {
	padding: 10px 0px;
}

.altas-citas input[type=submit] {
	cursor: pointer;
	font-size: 12px;
	padding: 15px;
	background-color: lightgray;
	border-radius: 25px;
	transition: transform .5s;
}

.altas-citas input[type=submit]:hover {
	transform: scale(1.1);
	border-radius: 25px;
	color: white;
	background-color: #05668D;
}

table {
	margin: 30px auto;
	background-image: linear-gradient(#05668D, lightgray);
	border-collapse: collapse;
	border: 2px solid lightgray;
}

table th, table td {
	padding: 10px;
}

tr:hover td {
	background-color: white;
}

td button {
	cursor: pointer;
	background-color: lightgray;
	border-radius: 100px;
	transition: transform .5s;
	padding: 5px;
}

td button:hover {
	transform: scale(1.1);
	border-radius: 100px;
	background-color: #05668D;
	padding: 5px;
}

.atenderCita {
	text-align: center;
	width: 60%;
	margin: 20px auto;
	background-color: #05668D;
	border-radius: 100px;
	padding: 20px 0px;
}

.atenderCita fieldset {
	border: none;
}

.atenderCita fieldset legend {
	font-weight: bold;
	font-size: 20px;
}

.atenderCita input[type=submit] {
	cursor: pointer;
	font-size: 12px;
	padding: 15px;
	background-color: lightgray;
	border-radius: 25px;
	transition: transform .5s;
}

.atenderCita input[type=submit]:hover {
	transform: scale(1.1);
	border-radius: 25px;
	color: white;
	background-color: #05668D;
}